[Unit]
Description=Drivnal Daemon

[Service]
Type=forking
PIDFile=/var/run/drivnald.pid
ExecStart=/usr/bin/drivnal --daemon --pidfile /var/run/drivnald.pid

[Install]
WantedBy=multi-user.target
