<%
if (typeof subText === 'undefined') {
  var subText = '';
}
else {
  subText = '(' + subText + ')';
}
%>
<div class="title">
  <span class="id-text"><%= title %></span>
  <i class="close-viewer icon-remove no-select"></i>
  <span class="sub-text"><%= subText %></span>
</div>
<div class="data">
  <% if (syntax) { %>
    <pre class="brush: <%= syntax %>; toolbar: false;"><%= data %></pre>
  <% } else { %>
    <div class="plaintext">
      <pre><%= data %></pre>
    </div<
  <% } %>
  </pre>
</div>
